.cont-btn {
    display: flex;
    margin-left: 10%;
}

.modal-cancel-button {
    width: 152px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    margin-left: 7%;
    margin-right: 10%;
    border-radius: 30px;
    color: white;
    background-color: #73C36F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-ok-button {
    width: 250px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    border-radius: 30px;
    color: #73C36F;
    background-color: #FEF5E0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #73C36F;
    margin-right: 0%;
}





.custom-modal-title {
    width: 375px;
    height: 72px;
    padding-top: 10%;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-left: 35%;
    

  }

  .modal-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .modal-text {
    width: 376px;
    height: 80px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .modal-image {
    width: 208px;
    height: 157px;
    margin-bottom: 10%;
    margin-right: 2%;
  }
  

  @media (max-width: 767px) {
    .modal-cont {
      display: flex;
      flex-direction: row;
      
    }

    .modal-image {
      width: 159px;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }


    .modal-text {
      width: 281px;
      height: 61px;
      font-size: 14px;
      display: flex;
      margin-top: 5px;
    }

    .custom-modal-title {
      width: 154px;
      height: 103px;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 30px;
    }

    .modal-cancel-button {
      width: 120px;
      height: 32px;
      border-radius: 23px;
      color: white;
      background-color: #73C36F;
      font-size: 9px;
      
  }
  .cont-btn {
    width: 270px;
    height: 32px;
    margin-top: 25%;
    display: flex !important;
    justify-content: right !important;
  }


  .modal-ok-button {
    width: auto;
    height: 32px;
    border-radius: 23px;
    color: #73C36F;
    background-color: #FEF5E0;
    border: 1px solid #73C36F;
    font-size: 9px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 20% !important;
    padding: 8px 19px 8px 19px !important;
    gap: 30px;
  }

  .modal-alert {
    margin-right: 23%;
  }

  
  }