.contenedorCard {
  width: 100%;
  max-width: 974px;
  margin-right: 0;
  overflow: hidden;
  
}

.item {
  
  margin-left: 115px; 
  margin-right: 8px; 
 
}

.card-first {
  margin-left: 0;
}

.flecha {
  position: absolute;
  width: 36px;
  height: 36px;
  margin-top: -177px;
  margin-left: 955px;
  padding: 10.5px 0px 10.5px 0px;
  font-size: 36px;
  color: #40903C;
  

}


.card {
  width: 249px;
  height: 198px;
  border-radius: 20px;
  margin-top: 22px;
  margin-left: auto;
  border: 2px solid #595959;
  background: #EDF0F7;
  
}

.card-header {
  background-color: #7A8CEB;
  height: 47px;
  padding: 10px;
  color: white;
  width: 249px;
  border-radius: 20px 20px 0px 0px;
  margin-top: -25px;
  margin-left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textCard {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.022em;
  text-align: left;
  width: 194px;
  height: 35px;
  
  margin-top: 40px;
  line-height: 36px;
  color: #5D6AB3;


}

.text-empresa {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -0.022em;
  text-align: left;
  margin: 10px 0 15px 247px;


}

.avatar-container {
  position: absolute;
  top: 8px;
  left: 8px;
}

.avatar {
  width: 68px;
  height: 68px;
  margin-top: 55px;
  margin-left: 10px;
  border: 1px solid #595959;
}

.card-content {
  margin-top: 22px;
  margin-left: 70px;
}


.name {
  margin-top: 4px;
  font-weight: 500;
  font-size: 19.22px;
  color: #424C80;
}

.description {
  margin-top: 10px;
  font-weight: 500;
  font-size: 19.22px;
  color: #424C80;
}

.score {
  margin-top: 20px;
  font-weight: 500;
  font-size: 19.22px;
  color: #424C80;
}

/** lupa input**/
.search-contenedor {
  margin-left: 243px;
}


.search-mejores {
  margin-left: 139px;
}

@media (max-width: 780px) {
  
  .search-contenedor {
  margin-top: 40px;  
  margin-left: 5px;
 }

 .search-mejores {
  margin-left: 10px;
 }

 .mobile-specific  {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-left: 10px;
  
}

} 